.Button {
  color: var(--primary-color);
  padding: 0.6em 1.2em;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.Button > svg {
  animation: open 1s ease-in-out;
}

.clear {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: none;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
