.Button {
  color: var(--primary-color);
  padding: 0.6em 1.2em;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.Button > svg {
  animation: open 1s ease-in-out;
}

.clear {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: none;
}

.background,
.background-inverted {
  outline: none;
  border: none;
}

.background {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.background-inverted {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}

.square {
  padding: 0;
}

.square.size-m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.size-l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.size-xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.size-m {
  font: var(--font-m);
}

.size-l {
  font: var(--font-l);
}

.size-xl {
  font: var(--font-xl);
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
