.Sidebar {
  position: relative;
  height: var(--sidebar-height);
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);

  transition: width .3s ease;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 30px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}