.app.dark {
  --bg-color: #101080;
  --inverted-bg-color: #dddddd;

  --primary-color: #1cac1c;
  --secondary-color: #39c939;
  --inverted-primary-color: #1937b9;
  --inverted-secondary-color: #3b54c2;
}