.app.light {
  --bg-color: #ddd;
  --bg-color-hover: #c5c5c5;
  --inverted-bg-color: #101080;
  --inverted-bg-color-hover: #0a0a61;
  --primary-color: #3b54c2;
  --secondary-color: #1937b9;
  --inverted-primary-color: #39c939;
  --inverted-secondary-color: #1cac1c;
}
