.app.light {
  --bg-color: #ddd;
  --inverted-bg-color: #101080;
  --primary-color: #1937b9;
  --secondary-color: #3b54c2;
  --inverted-primary-color: #1cac1c;
  --inverted-secondary-color: #39c939;
}
