.Navbar {
  width: 100%;
  min-height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 30px;
  background-color: var(--inverted-bg-color);
}
